/Makefile.in
/aclocal.m4
/config.h.in
/configure
/autom4te.cache/
/configure~

/common/Makefile.in
/data/Makefile.in
/doc/Makefile.in
/help/Makefile.in
/liblightdm-gobject/Makefile.in
/liblightdm-qt/Makefile.in
/src/Makefile.in
/tests/Makefile.in
/tests/src/Makefile.in
